#############################################################################                                                       
#   Sample: https://github.com/rakshasa/rtorrent/wiki/CONFIG-Template                                                               
# Complete: https://rtorrent-docs.readthedocs.io/en/latest/cmd-ref.html                                                             
#   Useful: https://rtorrent-docs.readthedocs.io/en/latest/use-cases.html                                                           
#   Manual: https://rtorrent-docs.readthedocs.io/en/latest/
#  Convert: https://github.com/rakshasa/rtorrent/wiki/rTorrent-0.9-Comprehensive-Command-list-(WIP)                                 
# Handbook: https://media.readthedocs.org/pdf/rtorrent-docs/latest/rtorrent-docs.pdf                                                
#     File: https://github.com/rakshasa/rtorrent/blob/master/doc/rtorrent.rc                                                        
#############################################################################                                                       

# Maximum and minimum number of peers to connect to per torrent.
#
throttle.min_peers.normal.set = 20
throttle.max_peers.normal.set = 100

# Same as above but for seeding completed torrents.
# "-1" = same as downloading.
#
throttle.min_peers.seed.set = 10
throttle.max_peers.seed.set = 50

# Maximum number of simultaneous downloads and uploads slots
throttle.max_downloads.global.set = 150
throttle.max_uploads.global.set = 150

# Maximum number of simultaneous uploads per torrent.
#
throttle.max_uploads.set = 5

# Global upload and download rate in KiB.
# "0" for unlimited.
# Download rate: 10MB/s
# Upload rate: 1MB/s
throttle.global_down.max_rate.set_kb = 10240
throttle.global_up.max_rate.set_kb = 1024

# Default directory to save the downloaded torrents.
#
directory.default.set = /mnt/NAS/downloads/

# Default session directory. Make sure you don't run multiple instance                                                              
# of rTorrent using the same session directory. Perhaps using a
# relative path?
#
session.path.set = ./.rtorrent/sessions

# Watch a directory for new torrents, and stop those that have been                                                                 
# deleted.
#
schedule2 = watch_directory,5,5,"load.start=/mnt/NAS/torrents/*.torrent"                                                            

#
# Enable encryption
#
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry                                                                  

#
# Enable DHT support
#
dht.mode.set = auto
dht.port.set = 6881
protocol.pex.set = yes

# Preallocate torrent disk space
system.file.allocate = yes

#
# Logging
#
#log.open_file = "rtorrent", /var/log/rtorrent/rtorrent.log
#log.add_output = "info", "rtorrent"
#log.add_output = "critical", "rtorrent"
#log.add_output = "error", "rtorrent"
#log.add_output = "warn", "rtorrent"
#log.add_output = "notice", "rtorrent"
#log.add_output = "debug", "rtorrent"

# Add default trackers to new torrents
method.set_key=event.download.inserted_new,add_all_trackers0015,"d.tracker.insert=\"32\",\"udp://wambo.club:1337/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0016,"d.tracker.insert=\"32\",\"udp://tracker.dutchtracking.com:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0017,"d.tracker.insert=\"32\",\"udp://tc.animereactor.ru:8082/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0018,"d.tracker.insert=\"32\",\"udp://tracker.justseed.it:1337/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0019,"d.tracker.insert=\"32\",\"udp://tracker.leechers-paradise.org:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0020,"d.tracker.insert=\"32\",\"udp://tracker.opentrackr.org:1337/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0021,"d.tracker.insert=\"32\",\"https://open.kickasstracker.com:443/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0022,"d.tracker.insert=\"32\",\"udp://tracker.coppersurfer.tk:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0023,"d.tracker.insert=\"32\",\"udp://open.stealth.si:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0024,"d.tracker.insert=\"32\",\"http://87.253.152.137/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0025,"d.tracker.insert=\"32\",\"http://91.216.110.47/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0026,"d.tracker.insert=\"32\",\"http://91.217.91.21:3218/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0027,"d.tracker.insert=\"32\",\"http://91.218.230.81:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0028,"d.tracker.insert=\"32\",\"http://93.92.64.5/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0029,"d.tracker.insert=\"32\",\"http://atrack.pow7.com/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0030,"d.tracker.insert=\"32\",\"http://bt.henbt.com:2710/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0031,"d.tracker.insert=\"32\",\"http://bt.pusacg.org:8080/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0032,"d.tracker.insert=\"32\",\"https://tracker.bt-hash.com:443/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0033,"d.tracker.insert=\"32\",\"udp://tracker.leechers-paradise.org:6969\""
method.set_key=event.download.inserted_new,add_all_trackers0034,"d.tracker.insert=\"32\",\"https://182.176.139.129:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0035,"d.tracker.insert=\"32\",\"udp://zephir.monocul.us:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0036,"d.tracker.insert=\"32\",\"https://tracker.dutchtracking.com:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0037,"d.tracker.insert=\"32\",\"https://grifon.info:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0038,"d.tracker.insert=\"32\",\"udp://tracker.kicks-ass.net:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0039,"d.tracker.insert=\"32\",\"udp://p4p.arenabg.com:1337/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0040,"d.tracker.insert=\"32\",\"udp://tracker.aletorrenty.pl:2710/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0041,"d.tracker.insert=\"32\",\"udp://tracker.sktorrent.net:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0042,"d.tracker.insert=\"32\",\"udp://tracker.internetwarriors.net:1337/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0043,"d.tracker.insert=\"32\",\"https://tracker.parrotsec.org:443/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0044,"d.tracker.insert=\"32\",\"https://tracker.moxing.party:6969/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0045,"d.tracker.insert=\"32\",\"https://tracker.ipv6tracker.ru:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0046,"d.tracker.insert=\"32\",\"https://tracker.fastdownload.xyz:443/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0047,"d.tracker.insert=\"32\",\"udp://open.stealth.si:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0048,"d.tracker.insert=\"32\",\"https://gwp2-v19.rinet.ru:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0049,"d.tracker.insert=\"32\",\"https://tr.kxmp.cf:80/announce\""
method.set_key=event.download.inserted_new,add_all_trackers0050,"d.tracker.insert=\"32\",\"https://explodie.org:6969/announce\""
